## Make random DataFrame

In [1]:
import numpy
import pandas

In [2]:
# 10列 x 100行のDataFrame
raw_data = numpy.random.rand(100, 10)
dataset = pandas.DataFrame(raw_data)

dataset.head()

,0,1,2,3,4,5,6,7,8,9
0,0.710484,0.973470,0.482386,0.891683,0.867839,0.990432,0.359027,0.112140,0.198683,0.690664
1,0.968620,0.720616,0.541060,0.424444,0.855290,0.610129,0.520557,0.558411,0.739468,0.250580
2,0.884098,0.252336,0.746763,0.609432,0.860204,0.480470,0.072424,0.816607,0.813853,0.161606
3,0.903385,0.876142,0.143305,0.233444,0.969096,0.589572,0.431036,0.389289,0.856202,0.312584
4,0.135023,0.031668,0.196938,0.513420,0.100070,0.783645,0.551121,0.976596,0.980991,0.176619

## Remove random cell

In [3]:
# 与えられたDataFrameのランダムな位置を欠損させる
def remove_random_cell(dataframe):
    target_index = numpy.random.choice(dataframe.index)
    target_column = numpy.random.choice(dataframe.columns)

    dataframe.loc[target_index, target_column] = None

In [4]:
# 100回実行
for _ in range(100):
    remove_random_cell(dataset)

In [19]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9
0,0.710484,0.973470,0.482386,0.891683,0.867839,0.990432,0.359027,0.112140,0.198683,0.690664
1,0.968620,0.720616,0.541060,0.424444,0.855290,0.610129,0.520557,0.558411,0.739468,0.250580
2,NaN,0.252336,0.746763,0.609432,0.860204,0.480470,0.072424,0.816607,0.813853,0.161606
3,0.903385,0.876142,0.143305,0.233444,0.969096,0.589572,0.431036,NaN,0.856202,0.312584
4,0.135023,NaN,0.196938,0.513420,0.100070,0.783645,0.551121,0.976596,0.980991,NaN

In [5]:
dataset.isnull().sum()

0     8
1     9
2    15
3     5
4    13
5     8
6     8
7    10
8     5
9    11
dtype: int64

In [6]:
dataset.isnull().sum().sum()  # 同じ場所がRemoveされる事があるので100個弱消えている

92

## calc null rate

In [23]:
null_count = dataset.isnull().sum()
null_rate = null_count / len(dataset)

In [29]:
null_table = pandas.DataFrame({'null_couunt': null_count, 'null_rate': null_rate})

null_table.sort_values(by='null_rate', ascending=False)

   null_couunt  null_rate
2           15       0.15
4           13       0.13
9           11       0.11
7           10       0.10
1            9       0.09
0            8       0.08
5            8       0.08
6            8       0.08
3            5       0.05
8            5       0.05